/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #000; }

@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot?t=1503631039353");
  /* IE9*/
  src: url("iconfont.eot?t=1503631039353#iefix") format("embedded-opentype"), url("iconfont.woff?t=1503631039353") format("woff"), url("iconfont.ttf?t=1503631039353") format("truetype"), url("iconfont.svg?t=1503631039353#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-accountcollection:before {
  content: "\e6ae"; }

.icon-cart:before {
  content: "\e908"; }

.icon-wode:before {
  content: "\e60f"; }

.icon-edit:before {
  content: "\e61d"; }

.icon-erweima:before {
  content: "\e627"; }

.icon-up:before {
  content: "\e60e"; }

.icon-dianzan:before {
  content: "\e604"; }

.icon-kefu-copy:before {
  content: "\e607"; }

.fl {
  float: left; }

.fr {
  float: right; }

.right-fix-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 32px;
  height: 100%;
  text-align: center;
  background: #eaeaea;
  color: #C40000;
  z-index: 100003; }
  .right-fix-bar .account {
    margin-top: 200px;
    width: 32px;
    height: 16px; }
  .right-fix-bar .cart {
    width: 32px;
    height: 94px;
    line-height: 24px;
    letter-spacing: 4px; }
  .right-fix-bar .bar-public {
    width: 32px;
    height: 16px; }
  .right-fix-bar .edit {
    margin-top: 120px; }

.account, .cart, .bar-public {
  padding: 10px 0;
  font-size: 13px;
  cursor: pointer;
  border-bottom: 1px solid #c8c8c8; }
  .account:hover, .cart:hover, .bar-public:hover {
    color: #FFF;
    background-color: #c40000; }
  .account:hover + .fix-bar-msg, .cart:hover + .fix-bar-msg, .bar-public:hover + .fix-bar-msg {
    right: 32px;
    opacity: 1;
    filter: alpha(opacity=100); }

.fix-bar-container {
  position: relative;
  width: 32px;
  height: auto; }

.fix-bar-msg {
  position: absolute;
  top: 0;
  right: 80px;
  width: 108px;
  height: 36px;
  font-size: 13px;
  color: #FFF;
  line-height: 36px;
  background-color: #3E3A39;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.top-fix-bar {
  position: fixed;
  display: none; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.nav-container {
  background: #3E3A39; }
  .nav-container .top-nav {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 31px;
    color: #CCC;
    line-height: 31px; }
    .nav-container .top-nav ul {
      position: absolute;
      top: 0;
      right: 40px;
      color: #CCC; }
      .nav-container .top-nav ul li {
        display: inline-block;
        margin-left: 22px;
        font-size: 13px; }
        .nav-container .top-nav ul li::after {
          content: "";
          border-left: 1px #CCC solid;
          margin-left: 22px; }
        .nav-container .top-nav ul li:first-child::after {
          margin-left: 2px; }
        .nav-container .top-nav ul li:last-child::after {
          border-left: none; }
        .nav-container .top-nav ul li a {
          color: #CCC; }

.big-img {
  margin: 0 auto;
  width: 1200px;
  height: 80px; }

.top-item {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 90px;
  padding: 10px 0;
  margin-top: 20px; }
  .top-item .top-item-img {
    display: inline-block; }
    .top-item .top-item-img a {
      margin-right: 40px; }
  .top-item .search {
    position: absolute;
    margin-left: 40px;
    display: inline-block; }
    .top-item .search input {
      position: absolute;
      top: 0;
      width: 320px;
      height: 30px;
      border: 4px #C40000 solid; }
      .top-item .search input:focus {
        outline: none; }
    .top-item .search .search-text {
      position: absolute;
      top: 0;
      left: 320px;
      height: 32px;
      width: 45px;
      background-color: #C40000;
      color: #FFF;
      border: 4px #C40000 solid;
      text-align: center;
      line-height: 32px; }
    .top-item .search ul {
      margin-top: 46px;
      margin-left: 8px; }
      .top-item .search ul li {
        display: inline-block;
        font-size: 12px; }
        .top-item .search ul li a {
          color: #E17F7F; }
        .top-item .search ul li::after {
          content: "";
          border-left: 1px #ccc solid;
          margin-left: 8px; }
        .top-item .search ul li:last-child::after {
          border: none; }
  .top-item .shopping-cart {
    position: absolute;
    top: 12px;
    right: 80px;
    width: 140px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #F9F9F9;
    border: 1px #ccc solid;
    color: #666;
    font-size: 13px; }
    .top-item .shopping-cart .cart-img {
      position: relative;
      width: 16px;
      height: 35px;
      display: inline-block;
      vertical-align: middle; }

.item-nav {
  position: relative;
  width: 1200px;
  height: 45px;
  margin: 0 auto;
  margin-left: 52px;
  text-align: center;
  line-height: 45px; }
  .item-nav ul li {
    display: inline-block;
    margin-left: 26px;
    margin-right: 26px; }
    .item-nav ul li:first-child {
      width: 186px;
      background-color: #CC0210;
      height: 45px;
      margin: 0; }
      .item-nav ul li:first-child ul {
        position: absolute;
        width: 186px;
        height: 470px;
        top: 45px;
        z-index: 100002; }
        .item-nav ul li:first-child ul li {
          display: block;
          background-color: #BA0416;
          height: 45px;
          width: 186px;
          padding: 1px 0;
          margin: 0 auto; }
          .item-nav ul li:first-child ul li:first-child {
            padding: 2px 0; }
          .item-nav ul li:first-child ul li img {
            float: left;
            margin-top: 8px;
            margin-left: 40px;
            margin-right: -40px; }
          .item-nav ul li:first-child ul li em {
            position: absolute;
            right: 20px;
            font-size: 35px;
            color: rgba(255, 255, 255, 0.3); }
          .item-nav ul li:first-child ul li a {
            color: #FFF; }
          .item-nav ul li:first-child ul li:hover {
            background-color: #D53C45; }
          .item-nav ul li:first-child ul li:hover .box {
            display: block; }
          .item-nav ul li:first-child ul li .box {
            display: none;
            position: absolute;
            top: -1px;
            padding: 1px;
            left: 186px;
            height: 470px;
            width: 1014px;
            border: 1px #E5E5E5 solid;
            background-color: #FFF; }
            .item-nav ul li:first-child ul li .box .box-lt {
              width: 730px;
              height: 470px;
              text-align: left;
              color: #3B3B3B;
              margin: 20px; }
              .item-nav ul li:first-child ul li .box .box-lt .box-title {
                font-size: 14px;
                border-bottom: 1px solid #EAEAEA;
                font-weight: 900; }
              .item-nav ul li:first-child ul li .box .box-lt .box-list {
                width: 600px; }
            .item-nav ul li:first-child ul li .box .box-rt {
              width: 240px;
              height: 470px;
              background-color: #F6F6F6; }

.box-list-width-1 {
  width: 340px; }

.box-list-public div {
  float: left;
  margin-right: 12px;
  margin-bottom: 36px; }
  .box-list-public div::after {
    content: "";
    margin-left: 12px;
    border-right: 1px solid #EDEDF1; }
  .box-list-public div:last-child::after {
    border: none; }
  .box-list-public div a {
    font-size: 14px;
    font-weight: 900; }
.box-list-public .box-color-0 {
  color: #595959 !important; }
.box-list-public .box-color-1 {
  color: #F97B00 !important; }
.box-list-public .box-color-2 {
  color: #AD5702 !important; }
.box-list-public .box-color-3 {
  color: #D02427 !important; }
.box-list-public .box-color-4 {
  color: #D02427 !important; }

.carousel {
  position: relative;
  width: 100%;
  height: 470px;
  border: 1px #F00 solid;
  overflow: hidden; }
  .carousel #list {
    position: absolute;
    left: 0;
    width: 3760px;
    height: 470px; }
  .carousel img {
    width: 100%;
    height: 470px; }

.list-bottom {
  width: 1200px;
  margin: 0 auto;
  height: 45px;
  color: #9B9B9B;
  line-height: 45px;
  border-bottom: 1px #EAEAEA solid; }
  .list-bottom span {
    margin-left: 78px;
    float: left; }
    .list-bottom span img {
      vertical-align: middle; }
    .list-bottom span:last-child {
      float: right; }
  .list-bottom a {
    color: #E01F35; }

.pTop {
  padding-top: 40px; }

.mTop {
  margin-top: 40px; }

.bg {
  background-color: #F5F5F5; }
  .bg .content {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 40px; }
    .bg .content .big-addbox ul li {
      float: left;
      height: 320px;
      border: 1px solid #EDEDF1;
      margin-right: 18px;
      background-color: #FFF;
      overflow: hidden;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .bg .content .big-addbox ul li span {
        display: inline-block;
        line-height: 56px;
        text-indent: 1em;
        font-size: 16px; }
        .bg .content .big-addbox ul li span:last-child {
          font-size: 20px;
          color: #A10000;
          padding-right: 1em; }
      .bg .content .big-addbox ul li:hover {
        -webkit-transform: translateY(-12px);
        -moz-transform: translateY(-12px);
        -ms-transform: translateY(-12px);
        -o-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-box-shadow: 0 1px 1px #888; }
    .bg .content .bgzk .bgzk-lt {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .bg .content .bgzk .bgzk-lt:hover {
        -webkit-transform: translateY(-6px);
        -moz-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        -o-transform: translateY(-6px);
        transform: translateY(-6px); }
    .bg .content .bgzk .bgzk-rt {
      width: 944px;
      height: 612px; }

.items-title {
  font-size: 20px;
  text-indent: 3px;
  padding: 18px 0 18px 0; }

.item-public {
  position: relative;
  display: inline-block;
  width: 295px;
  height: 300px;
  margin-right: 8px;
  padding: 1px;
  margin-bottom: 10px;
  font-size: 13px;
  background-color: #FFF;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .item-public img {
    width: 190px;
    height: 190px; }
  .item-public .item-public-style {
    margin: 0 auto;
    width: 64px;
    height: 20px;
    color: #FFF;
    background-color: #83C44E;
    line-height: 20px; }
  .item-public .item-public-msg {
    height: 20px; }
  .item-public .item-public-price {
    color: #FF2C00;
    padding: 3px 0;
    font-size: 13px; }
  .item-public:hover {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px); }

.ptjcz .ptjcz-lf {
  width: 240px;
  height: 680px; }
  .ptjcz .ptjcz-lf ul li {
    width: 240px;
    height: 300px;
    margin-bottom: 10px;
    padding: 1px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .ptjcz .ptjcz-lf ul li:hover {
      -webkit-transform: translateY(-6px);
      -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      -o-transform: translateY(-6px);
      transform: translateY(-6px); }
    .ptjcz .ptjcz-lf ul li img {
      width: 240px;
      height: 300px; }
.ptjcz .ptjcz-rt {
  width: 944px;
  height: 612px; }

.yjczq .yjczq-lt {
  width: 240px;
  padding: 1px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .yjczq .yjczq-lt img {
    width: 240px;
    height: 300px; }
  .yjczq .yjczq-lt:hover {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px); }
.yjczq .yjczq-rt {
  width: 944px;
  height: 306px; }
  .yjczq .yjczq-rt ul li {
    padding: 1px;
    margin-right: 8px; }

.dztj .dztj-list {
  width: 1180px;
  height: 315px;
  overflow: hidden; }
  .dztj .dztj-list ul {
    width: 2400px;
    height: 315px; }
    .dztj .dztj-list ul li {
      display: inline-block;
      width: 225px;
      height: 315px;
      display: inline-block;
      margin-right: 8px;
      font-size: 13px;
      background: #FFF;
      text-align: center; }
      .dztj .dztj-list ul li img {
        width: 200px;
        height: 200px; }
      .dztj .dztj-list ul li .dztj-name {
        height: 36px;
        padding: 10px 0 5px;
        color: #333; }
      .dztj .dztj-list ul li .dztj-price {
        height: 28px;
        padding: 5px 0;
        color: #FF2C00; }
      .dztj .dztj-list ul li .dztj-hpnum {
        height: 28px;
        padding: 5px 0;
        color: #757575; }

.jyrp .jyrp-list {
  width: 1200px;
  height: 392px; }
  .jyrp .jyrp-list ul li {
    float: left;
    width: 282px;
    height: 392px;
    margin-right: 16px;
    background-color: #FFF;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .jyrp .jyrp-list ul li:hover {
      -webkit-transform: translateY(-6px);
      -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      -o-transform: translateY(-6px);
      transform: translateY(-6px); }
    .jyrp .jyrp-list ul li .jyrp-msg {
      padding: 22px 27px;
      font-size: 13px; }
      .jyrp .jyrp-list ul li .jyrp-msg .jyrp-des {
        height: 95px;
        line-height: 23px;
        color: #333; }
      .jyrp .jyrp-list ul li .jyrp-msg .jyrp-from {
        padding: 5px 0;
        width: 100%;
        display: inline-block;
        color: #B0B0B0;
        font-size: 12px; }
      .jyrp .jyrp-list ul li .jyrp-msg .jyrp-name {
        padding-right: 15px;
        width: 140px;
        border-right: 2px solid #a2a2a2;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 18px;
        line-height: 17px;
        display: inline-block;
        overflow: hidden; }
      .jyrp .jyrp-list ul li .jyrp-msg .jyrp-price {
        padding-left: 10px;
        color: #FF6700;
        width: 50px;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 18px;
        line-height: 17px;
        display: inline-block;
        overflow: hidden; }

.video .video-list {
  width: 1200px;
  height: 258px; }
  .video .video-list ul li {
    float: left;
    margin-right: 16px;
    width: 282px;
    height: 258px;
    background-color: #FFF;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .video .video-list ul li img {
      width: 280px;
      height: 170px; }
    .video .video-list ul li .video-msg {
      padding: 20px 0 5px; }
    .video .video-list ul li:hover {
      -webkit-transform: translateY(-6px);
      -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      -o-transform: translateY(-6px);
      transform: translateY(-6px); }

footer {
  height: 547px; }
  footer .footer-1 {
    height: 343px;
    background-color: #414141; }
    footer .footer-1 .footer-1-top {
      width: 1200px;
      height: 122px;
      margin: 0 auto;
      border-bottom: 2px solid #787878; }
      footer .footer-1 .footer-1-top .kf {
        width: 400px;
        height: 40px;
        padding-top: 30px;
        color: #DBDBDB; }
      footer .footer-1 .footer-1-top .tel {
        font-size: 40px;
        color: #E1BC19; }
      footer .footer-1 .footer-1-top .online {
        padding-top: 70px; }
        footer .footer-1 .footer-1-top .online a {
          font-size: 20px;
          color: #E1BC19; }
      footer .footer-1 .footer-1-top .qr {
        width: 410px;
        height: 120px; }
        footer .footer-1 .footer-1-top .qr .footer-1-msg {
          display: inline-block;
          width: 300px;
          padding-top: 8px;
          text-align: right;
          color: #FFF; }
        footer .footer-1 .footer-1-top .qr .qr-img {
          width: 100px;
          height: 100px;
          float: right;
          padding-top: 8px; }
          footer .footer-1 .footer-1-top .qr .qr-img img {
            width: 100px;
            height: 100px; }
    footer .footer-1 .footer-link {
      width: 1200px;
      height: 200px;
      margin-top: 40px;
      margin-left: 120px; }
      footer .footer-1 .footer-link dl {
        float: left;
        margin-left: 100px; }
        footer .footer-1 .footer-link dl dt {
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: 700;
          color: #FFF; }
        footer .footer-1 .footer-link dl dd a {
          font-size: 13px;
          line-height: 24px;
          color: #a9a9a9; }
        footer .footer-1 .footer-link dl:last-child dd a {
          color: #FFFF00; }
  footer .footer-2 img:first-child {
    width: 100%; }
  footer .footer-2 .f-link {
    width: 1200px;
    height: 32px;
    position: relative;
    overflow: hidden;
    margin: 0 auto; }
    footer .footer-2 .f-link ul {
      position: absolute;
      width: 1200px;
      top: 0;
      font-size: 13px;
      text-align: center;
      line-height: 32px;
      animation: link 4s linear infinite forwards; }
      footer .footer-2 .f-link ul li {
        display: inline-block; }
        footer .footer-2 .f-link ul li::after {
          content: "";
          border-right: 1px #000 solid;
          margin: 0 4px; }
        footer .footer-2 .f-link ul li:hover a {
          color: #F5D5D5; }
  footer p {
    text-align: right;
    font-size: 13px; }
  footer .img {
    text-align: center;
    margin-top: 12px; }
    footer .img a {
      width: 110px;
      height: 40px;
      display: inline-block; }
    footer .img .beian {
      margin-left: 10px;
      background-position: -120px 0;
      background: url(http://static.gjw.com/product/20161021/img/aut_06.jpg) no-repeat; }
    footer .img .gsjg {
      margin-left: 10px;
      background-position: -120px 0;
      background: url(http://static.gjw.com/product/20161021/img/aut_06.jpg) no-repeat; }
    footer .img .gsxz {
      margin-left: 10px;
      background-position: -240px 0;
      background: url(http://static.gjw.com/product/20161021/img/aut_06.jpg) no-repeat; }

@keyframes link {
  0% {
    top: 0; }
  25% {
    top: 0; }
  50% {
    top: -32px; }
  75% {
    top: -32px; }
  100% {
    top: -64px; } }

/*# sourceMappingURL=home.css.map */
