@import "reset";
@import "mixin";
@import "icon";

.fl {
  float: left;
}
.fr {
  float: right;
}

.right-fix-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 32px;
  height: 100%;
  text-align: center;
  background: #eaeaea;
  color: #C40000;
  z-index: 100003;
    .account {
      margin-top: 200px;
      width: 32px;
      height: 16px;

    }
    .cart {
      width: 32px;
      height: 94px;
      line-height: 24px;
      letter-spacing: 4px;
    }
    .bar-public {
      width: 32px;
      height: 16px;
    }
    .edit {
      margin-top: 120px;
    }

}

.account, .cart, .bar-public {
  padding: 10px 0;
  font-size: 13px;
  cursor: pointer;
  border-bottom: 1px solid #c8c8c8;

  &:hover {
    color: #FFF;
    background-color: #c40000;
  }
  &:hover+.fix-bar-msg {
    right: 32px;
    // opacity: 1;
    @include opacity(1);
  }
}
.fix-bar-container {
  position: relative;
  width: 32px;
  height: auto;
}
.fix-bar-msg {
  position: absolute;
  top: 0;
  right: 80px;
  width: 108px;
  height: 36px;
  font-size: 13px;
  color: #FFF;
  line-height: 36px;
  background-color: #3E3A39;
  // opacity: 0;
  @include opacity(0);
  // transition: all .5s;
  @include transition(all .5s);
}

.top-fix-bar {
  position: fixed;

  display: none;
}

//clearfix
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

$container-width: 1200px;
.nav-container {
  background: #3E3A39;

  .top-nav {
    position: relative;
    margin: 0 auto;
    width: $container-width;
    height: 31px;
    color: #CCC;
    line-height: 31px;

    ul {
      position: absolute;
      top: 0;
      right: 40px;
      color: #CCC;
      li {
        display: inline-block;
        margin-left: 22px;
        font-size: 13px;

        &::after {
          content: "";
          border-left: 1px #CCC solid;
          margin-left: 22px;
        }
        &:first-child::after {
          margin-left: 2px;
        }
        &:last-child::after {
          border-left: none;
        }

        a {
          color: #CCC;
        }
      }
    }
  }
}

.big-img {
  margin: 0 auto;
  width: $container-width;
  height: 80px
}

$search-height: 30px;
$search-width: 320px;
.top-item {
  position: relative;
  margin: 0 auto;
  width: $container-width;
  height: 90px;
  padding: 10px 0;
  margin-top: 20px;
  .top-item-img {
    display: inline-block;

    a {
      margin-right: 40px;
    }
  }

  .search {
    position: absolute;
    // top: 20px;
    margin-left: 40px;
    display: inline-block;

    input {
      position: absolute;
      top: 0;
      width: $search-width;
      height: $search-height;
      border: 4px #C40000 solid;

      &:focus {
        outline: none;
      }
    }

    .search-text {
      // display: inline-block;
      position: absolute;
      top: 0;
      left: $search-width;
      height: $search-height + 2;
      width: 45px;
      background-color: #C40000;
      color: #FFF;
      border: 4px #C40000 solid;
      text-align: center;
      line-height: $search-height + 2;
    }

    ul {
      margin-top: $search-height + 16;
      margin-left: 8px;
      li {
        display: inline-block;
        font-size: 12px;

        a {
          color: #E17F7F;
        }

        &::after {
          content: "";
          border-left: 1px #ccc solid;
          margin-left: 8px;
        }
        &:last-child::after {
          border: none;
        }
      }
    }
  }
  .shopping-cart {
    // display: inline-block;
    position: absolute;
    top: 12px;
    right: 80px;
    width: 140px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #F9F9F9;
    border: 1px #ccc solid;
    color: #666;
    font-size: 13px;

    .cart-img {
      position: relative;
      width: 16px;
      height: 35px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
$carousel-width: 100%;
$carousel-height: 470px;

$list-width: 186px;
$list-height: 45px;
.item-nav {
  position: relative;
  width: $container-width;
  height: 45px;
  margin: 0 auto;
  margin-left: 52px;
  // border: 1px #F00 solid;
  text-align: center;
  line-height: 45px;

  ul {
    li {
      display: inline-block;
      margin-left: 26px;
      margin-right: 26px;

      &:first-child {
        width: $list-width;
        background-color: #CC0210;
        height: $list-height;
        margin: 0;

        ul {
          position: absolute;
          width: $list-width;
          height: $carousel-height;
          top: $list-height;
          z-index: 100002;

          li {
            display: block;
            background-color: #BA0416;
            height: $list-height;
            width: $list-width;
            padding: 1px 0;
            margin: 0 auto;

            &:first-child {
              padding: 2px 0;
            }
            img {
              float: left;
              margin-top: 8px;
              margin-left: 40px;
              margin-right: -40px;
            }
            em {
              position: absolute;
              right: 20px;
              font-size: 35px;
              color: rgba(255,255,255,.3);
            }

            a {
              color: #FFF;
            }

            &:hover {
              background-color: #D53C45;
            }

            &:hover .box {
              display: block;
            }


            .box {
              display: none;
              position: absolute;
              top: -1px;
              padding: 1px;
              left: $list-width;
              height: $carousel-height;
              width: $container-width - $list-width;
              border: 1px #E5E5E5 solid;
              background-color: #FFF;

              .box-lt {
                width: 730px;
                height: $carousel-height;
                text-align: left;
                color: #3B3B3B;
                margin: 20px;
                .box-title {
                  font-size: 14px;
                  border-bottom: 1px solid #EAEAEA;
                  font-weight: 900;

                }
                .box-list {
                  width: 600px;
                }
              }

              .box-rt {
                width: 240px;
                height: $carousel-height;
                background-color: #F6F6F6;
              }
            }
          }


        }
      }
    }
  }
}
.box-list-width-1 {
  width: 340px;
  // height: 200px;
}
.box-list-public {
  div {
    // display: inline-block;
    float: left;
    margin-right: 12px;
    margin-bottom: 36px;

    &::after {
      content: "";
      margin-left: 12px;
      border-right: 1px solid #EDEDF1;
    }
    &:last-child::after {
      border: none;
    }
    a {
      font-size: 14px;
      font-weight: 900;
    }
  }
  .box-color-0 {
    color: #595959!important;
  }
  .box-color-1 {
    color: #F97B00!important;
  }
  .box-color-2 {
    color: #AD5702!important;
  }
  .box-color-3 {
    color: #D02427!important;
  }
  .box-color-4 {
    color: #D02427!important;
  }
}

$img-number: 8;
.carousel {
  position: relative;
  width: $carousel-width;
  height: $carousel-height;
  border: 1px #F00 solid;
  overflow: hidden;

  #list {
    position: absolute;
    left: 0;
    width: $carousel-height * $img-number;
    height: $carousel-height;
  }
  img {
    width: $carousel-width;
    height: $carousel-height;
  }
}

.list-bottom {
  width: $container-width;
  margin: 0 auto;
  height: 45px;
  color: #9B9B9B;
  line-height: 45px;
  border-bottom: 1px #EAEAEA solid;

  span {
    margin-left: 78px;
    float: left;
    img {
      vertical-align: middle;
    }
    &:last-child {
      float: right;
    }
  }

  a {
    color: #E01F35;
  }
}


$goods-height: 400px;
.pTop {
  padding-top: 40px;
}
.mTop {
  margin-top: 40px;
}
.bg {
  background-color: #F5F5F5;

  .content {
    width: $container-width;
    height: auto;
    margin: 0 auto;
    padding-bottom: 40px;
    .big-addbox {

      ul {
        li {
          float: left;
          height: 320px;
          border: 1px solid #EDEDF1;
          margin-right: 18px;
          background-color: #FFF;
          overflow: hidden;
          @include transition(all .5s);

          span {
            display: inline-block;
            line-height: 56px;
            text-indent: 1em;
            font-size: 16px;

            &:last-child {
              font-size: 20px;
              color: #A10000;
              padding-right: 1em;
            }
          }

          &:hover {
            @include translateY(-12px);
            -webkit-box-shadow: 0 1px 1px #888;
          }
        }
      }

    }

    .bgzk {
      .bgzk-lt {
        img {

        }
        @include transition(all .3s);

        &:hover {
          @include translateY(-6px);
        }
      }
      .bgzk-rt {
        width: 944px;
        height: 612px;
      }


    }

  }
}

.items-title {
  font-size: 20px;
  text-indent: 3px;
  padding: 18px 0 18px 0;

  .title-right {

  }
  .title-switch {
    .pre-btn {
      // background: url(./img/);
    }
    .next-btn {

    }
  }
}

$item-width: 295px;
$item-height: 300px;
.item-public{
  position: relative;
  display: inline-block;
  width: $item-width;
  height: $item-height;
  margin-right: 8px;
  padding: 1px;
  margin-bottom: 10px;
  font-size: 13px;
  background-color: #FFF;
  text-align: center;
  @include transition(all .3s);

  img {
    width: 190px;
    height: 190px;
  }
  .item-public-style {
    // float: left;
    margin: 0 auto;
    width: 64px;
    height: 20px;
    color: #FFF;
    background-color: #83C44E;
    line-height: 20px;
  }

  .item-public-msg {
    height: 20px;
  }

  .item-public-price {
    color: #FF2C00;
    padding: 3px 0;
    font-size: 13px;
  }

  &:hover {
    @include translateY(-6px);
  }

}

.ptjcz {
    .ptjcz-lf {
      width: 240px;
      height: 680px;

      ul {
        li {
          width: 240px;
          height: $item-height;
          margin-bottom: 10px;
          padding: 1px;
          @include transition(all .3s);

          &:hover {
            @include translateY(-6px);
          }

          img {
            width: 240px;
            height: $item-height;
          }
        }
      }
    }

    .ptjcz-rt {
      width: 944px;
      height: 612px;
    }
}

.yjczq {
  .yjczq-lt {
    width: 240px;
    padding: 1px;
    @include transition(all .3s);
    img {
      width: 240px;
      height: $item-height;
    }

    &:hover {
      @include translateY(-6px);
    }
  }

  .yjczq-rt {
    width: 944px;
    height: 306px;

    ul {
      li {
        padding: 1px;
        margin-right: 8px;
      }
    }
  }

}
.dztj {
    .dztj-list {
      width: 1180px;
      height: 315px;
      // position: relative;
      overflow: hidden;

      ul {
        // position: absolute;
        width: 2400px;
        height: 315px;
        li {
          display: inline-block;
          width: 225px;
          height: 315px;
          display: inline-block;
          margin-right: 8px;
          font-size: 13px;
          background: #FFF;
          text-align: center;
          img {
            width: 200px;
            height: 200px;
          }

          .dztj-name {
            height: 36px;
            padding: 10px 0 5px;
            color: #333;
          }

          .dztj-price {
            height: 28px;
            padding:5px 0;
            color: #FF2C00;
          }
          .dztj-hpnum {
            height: 28px;
            padding:5px 0;
            color: #757575;
          }
        }
      }
    }
}

.jyrp {
  .jyrp-list {
    width: 1200px;
    height: 392px;
    ul {
      li {
        float: left;
        width: 282px;
        height: 392px;
        margin-right: 16px;
        background-color: #FFF;
        @include transition(all .3s);

        &:hover {
          @include translateY(-6px);
        }
        .jyrp-msg {
          padding: 22px 27px;
          font-size: 13px;

          .jyrp-des {
            height: 95px;
            line-height: 23px;
            color: #333;
          }
          .jyrp-from {
            padding: 5px 0;
            width: 100%;
            display: inline-block;
            color: #B0B0B0;
            font-size: 12px;
          }
          .jyrp-name {
            padding-right: 15px;
            width: 140px;
            border-right: 2px solid #a2a2a2;
            white-space: nowrap;
            text-overflow: ellipsis;
            height: 18px;
            line-height: 17px;
            display: inline-block;
            overflow: hidden;
          }
          .jyrp-price {
            padding-left: 10px;
            color: #FF6700;
            width: 50px;
            white-space: nowrap;
            text-overflow: ellipsis;
            height: 18px;
            line-height: 17px;
            display: inline-block;
            overflow: hidden;
          }
      }

      }
    }
  }
}

.video {
  .video-list {
    width: 1200px;
    height: 258px;

    ul {
      li {
        float: left;
        margin-right: 16px;
        width: 282px;
        height: 258px;
        background-color: #FFF;
        text-align: center;
        @include transition(all .3s);

        img {
          width: 280px;
          height: 170px;
        }
        .video-msg {
          padding: 20px 0 5px;
        }

        &:hover {
          @include translateY(-6px);
        }

      }
    }
  }
}

footer {
  // width: 100%;
  height: 547px;
  .footer-1 {
    // width: 100%;
    height: 343px;
    background-color: #414141;

    .footer-1-top {
      width: 1200px;
      height: 122px;
      margin: 0 auto;
      border-bottom: 2px solid #787878;

      .kf {
        width: 400px;
        height: 40px;
        padding-top: 30px;
        color: #DBDBDB;
      }
      .tel {
        font-size: 40px;
        color: #E1BC19;
      }
      .online {
        padding-top: 70px;
        a {
          font-size: 20px;
          color: #E1BC19;
        }
      }
      .qr {
        width: 410px;
        height: 120px;
        .footer-1-msg {
          display: inline-block;
          width: 300px;
          // height: 80px;
          padding-top: 8px;

          text-align: right;
          color: #FFF;
        }
        .qr-img {
          width: 100px;
          height: 100px;
          float: right;
          padding-top: 8px;
          img {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
    .footer-link {
      width: 1200px;
      height: 200px;;
      margin-top: 40px;
      margin-left: 120px;

      dl {
        float: left;
        margin-left: 100px;

        dt {
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: 700;
          color: #FFF;
        }
        dd {
          a{
            font-size: 13px;
            line-height: 24px;
            color: #a9a9a9;
          }
        }

        &:last-child {
          dd {
            a {
              color: #FFFF00;
            }
          }
        }
      }
    }
  }
  .footer-2 {
    img:first-child {
      width: 100%;
    }
    .f-link {
      width: 1200px;
      height: 32px;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      ul {
        position: absolute;
        width: 1200px;
        top: 0;
        font-size: 13px;
        text-align: center;
        line-height: 32px;
        animation: link 4s linear infinite forwards;
        li {
          display: inline-block;

          &::after {
            content: "";
            border-right: 1px #000 solid;
            margin: 0 4px;
          }

          &:hover a{
            color: #F5D5D5;
          }
        }
      }
    }
  }
  p {
    text-align: right;
    font-size: 13px;
  }
  .img {
    text-align: center;
    margin-top: 12px;
    a {
      width: 110px;
      height: 40px;
      display: inline-block;
    }
    .beian {
      margin-left: 10px;
      background-position: -120px 0;
      background: url(http://static.gjw.com/product/20161021/img/aut_06.jpg) no-repeat;    }
    .gsjg {
      margin-left: 10px;
      background-position: -120px 0;
      background: url(http://static.gjw.com/product/20161021/img/aut_06.jpg) no-repeat;
    }
    .gsxz {
      margin-left: 10px;
      background-position: -240px 0;
      background: url(http://static.gjw.com/product/20161021/img/aut_06.jpg) no-repeat;
    }
  }
}


@keyframes link {
  0% {
    top: 0;
  }
  25% {
    top: 0;
  }
  50% {
    top: -32px;
  }
  75% {
    top: -32px
  }
  100% {
    top: -64px;
  }
}
